/* Semântica */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

header {
    width: 100vw;
    height: 100vh;
}

/* Classes */

.container {
    display: block;
    margin: 0 12rem;
}

nav .container {
    display: none;
    justify-content: space-between;

    ul {
        list-style-type: none;
        display: flex;
    }
}

.l, .r {
    display: flex;
}

/* IDs */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: inherit;
}

#fn {
    text-transform: uppercase;
}

#arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}