{% extends "base.html" %}

{% block content %} 

<header>
    <div class="container">
        <div id="intro">
            <div id="id"><span>@</span><span>GabHrq</span></div>
            <span id="fn">Gabriel Henrique Passos</span>
        </div>
        <div id="social">
            <a href="https://www.linkedin.com/in/gabriel-h-passos/" alt="LinkedIn"></a>
            <a href="https://github.com/GabHrq" alt="GitHub"></a>
        </div>
        <div id="arrow"></div>
    </div>
</header>

<main>
    <section>
        <h1>Placeholder</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere nunc eu diam congue, sit amet maximus sem rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget placerat diam. Donec ullamcorper lacus quis sodales sodales. Quisque ac ullamcorper lacus. Etiam aliquam lorem sit amet vestibulum sagittis. Curabitur quis accumsan lectus, et accumsan turpis. Suspendisse nec pulvinar metus. Aliquam sit amet volutpat odio, non facilisis dolor. Quisque ligula lacus, lobortis nec ex ac, viverra laoreet velit. Maecenas sem risus, venenatis sit amet ante ac, vehicula ullamcorper mauris. Quisque imperdiet vel neque at sollicitudin.
            In rutrum est a eros lobortis varius. Morbi facilisis tempus mauris vel scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam enim leo, maximus ut porttitor in, pulvinar a nibh. Praesent at felis et ante fringilla egestas sit amet aliquam dolor. Duis scelerisque malesuada nunc sed imperdiet. Phasellus hendrerit sed mi ac iaculis. Ut nec dictum lectus. Proin commodo scelerisque eros, sed iaculis odio. Pellentesque sed venenatis dui, eget commodo orci. Phasellus vitae lacus eget dui scelerisque hendrerit. Aliquam ultricies augue non velit fringilla commodo. Cras ut est a ante pharetra pretium. Quisque ornare enim in interdum rutrum. Integer quam lorem, bibendum et turpis et, finibus blandit urna. 
        </p>
    </section>
</main>

<footer>
    <div class="container"></div>
</footer>


{% endblock %}